$theme-colors: (
    'primary': #0091ea //Covalence Blue!  :D
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-color: rgb(21, 32, 43);
}

.bl-thin {
    border-left: 3px solid rgb(37, 51, 65) !important;
}

.br-thin {
    border-right: 3px solid rgb(37, 51, 65) !important;
}

.center-vert {
    vertical-align: middle;
}

.children-margin-vert-10 > * {
    margin-top: 5px;
    margin-bottom: 5px;
}

.children-width-100 > * {
    box-sizing: border-box;
    width: 100%;
}

.grandchildren-width-100 > * > * {
    box-sizing: border-box;
    width: 100%;
}

.hr-thin {
    border-bottom: 3px solid rgb(37, 51, 65) !important;
}

.hr-thicc {
    border-bottom: 8px solid rgb(37, 51, 65) !important;
}

.img-round {
    border-radius: 50% !important;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bot-5 {
    margin-bottom: 5px;
}

.margin-sides-5 {
    margin: 5px auto;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bot-10 {
    margin-bottom: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bot-20 {
    margin-bottom: 20px;
}

.opaque-white-bg {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

.pad-bot-10 {
    padding-bottom: 10px;
}

.transparent-bg {
    background-color: rgba(0,0,0,0) !important;
}

.vr-thin {
    border-left: 3px solid rgb(37, 51, 65) !important;
    border-right: 3px solid rgb(37, 51, 65) !important;
}


/* Element selectors */

textarea {
    border: none;
    resize: none !important;
 }